.menuList {
  background-color: #f0f0f0;
  grid-column: 1;
  grid-row: 1;
  width: 200px;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

.menuListTitle {
  font-size: 28px;
  line-height: 1em;
  height: 28px;
  margin: 0px;
  padding: 12px;
}