.settingPageSave {
  height: 220px;
  margin: 0px;
  padding: 32px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;
  box-shadow: 5px 5px 10px 0 rgba(0,0,0, .5);
}

.locationSelector {
  float: left;
  height: 30px;  
}

.saveFilePath {
  float: left;
  height: 18px;
  padding: 6px;
  margin-left: 10px;  
}

.saveChangeFilePathButton {
  float: left;
  height: 30px;
  margin-left: 20px;
  margin-top: 0px;
}

