.settingPageSecurity {
  height: 220px;
  width: 350px;
  margin: 0px;
  padding: 32px;
  font-size: 18px;
  font-weight: bold;
  position: absolute;  
  box-shadow: 5px 5px 10px 0 rgba(0,0,0, .5)       
}
