.settingPageSave {
  height: 100%;
  margin: 0px;
  margin: 32px;
  font-size: 18px;
  font-weight: bold;
}

.locationSelector {
  float: left;
  height: 30px;  
}

.saveFilePath {
  float: left;
  height: 18px;
  padding: 6px;
  margin-left: 10px;  
}

.saveChangeFilePathButton {
  float: left;
  height: 30px;
  margin-left: 20px;
  margin-top: 0px;
}