.title {
  /*
    -webkit-app-region:drag prevents JavaScript mouse events.
    -webkit-user-select: none  is also needed.
  */
  -webkit-app-region: drag;
  -webkit-user-select: none;

  color: #606060;
  background-color: #f7f7f7;
  grid-row: 1;
  grid-column: 2;
  font-size: 20px;
  line-height: 20px;
  height: 40px;
  padding-top: 20px;
  padding-left: 20px;
  margin: 0px;

  width: 150px;
  
  position: relative;
  top: 10px;
  left: -25px;

  z-index: 300;

  border-radius: 10px;
  box-shadow: 5px 0px 10px 0 rgba(0,0,0, .5)   
}