.menuItem {
  font-size: 32px;
  height: 48px;
  margin: 0px;
}

.activeItem {
  font-weight: bold;
}

.inactiveItem {
  font-weight: normal;
}

.yellow {
  background-color: #ffffa0;
}

.red {
  background-color: #ffb0b0;
}

.green {
  background-color: #d0ffd0;
}

.blue {
  background-color: #d0d0ff;
}

.orange {
  background-color: #ffb000;
}

.purple {
  background-color: #ffd0ff;
}

.white {
  background-color: #ffffff;
}

.gray {
  background-color: #d0d0d0;
}

.transparent {
  background-color: none;
}